:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;
  --fonte-principal: "Inter";
  --botao-azul-efeito: #3c92fa;
}

.main {
  background: linear-gradient(180deg, #2c2f71 -80%, #080719 100%);
  bottom: 0;
  right: 0;
}

body {
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

.espaco {
  height: 20px;
}

* {
  margin: 0;
  padding: 0;
}

.principal {
  background-size: auto;
  align-items: center;
  text-align: center;
  align-content: center;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 70vh;
  width: 80%;
  align-self: center;
}
.container_principal {
  display: grid;
  flex-direction: row;
  align-content: center;
  width: 100%;
  justify-items: center;
}

.btn {
  margin-top: 5%;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  color: white;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-family: "Outfit Bold", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__imagem {
  margin: 2.5%;
  height: auto;
  width: auto;
}

.container__caixa {
  margin: 0 6em;
}

.secundario__imagem {
  width: 80%;
}

.secundario {
  align-items: center;
  margin: 0 10em;
}

.descricao__titulo {
  font-size: 48px;
  font-weight: 700;
  color: var(--branco-principal);
  margin-bottom: 10px;
}

.descricao__texto {
  margin-top: 2.5%;
  font-size: 16px;
  font-weight: 400;
  color: var(--cinza-secundario);
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.container__descricao {
  padding: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.dispositivos__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 3em 0;
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: 48px;
  font-weight: 700;
}

.lista__item {
  font-size: 32px;
  font-weight: 700;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 2em;
}

.lista__link a {
  text-decoration: none;
  color: var(--branco-principal);
  margin: 0 7px;
  font-size: 16px;
  font-weight: 400;
}

.rodape {
  text-align: center;
}

.rodape__texto {
  color: var(--cinza-secundario);
  font-size: 14px;
  margin: 10px 0;
}

.lista__link a:hover {
  color: var(--botao-azul);
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
    background-image: none;
  }
  .container__imagem {
    width: 50vh;
  }
  .container__caixa {
    margin: 2em 2em;
  }
  .secundario {
    margin: 0;
    text-align: center;
  }
  .secundario__imagem {
    width: 50vh;
  }
  .dispositivos__lista {
    display: block;
  }
  .rodape__lista {
    display: block;
  }
}
