* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 2.5%;
}


.background {
    width: 100%;
    height: 100%; 
    background: linear-gradient(180deg, #1A1965 10%, #5E3DC8 100%);
    position: absolute;
    bottom: 0;
}

.img {
    height: 75px;
    margin-top: 10px;

}

.conteudo{
    flex-direction: row;
    display: flex;
    margin-top: 1%;
    height: 80%;
}

.rectangle {
    background-color: #362890;
    height: 85%;
    width: 30%;
    border-radius: 30px;
    box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-left: 2.5%;
    align-items: center;
    flex-direction: column;
    color: white; 
}

.rectangle h1 {
    font-family: "Outfit Bold", sans-serif;
    margin-top: 50px;
}

.item-show{
    width: 70%;
    height: 85%;
    margin-left: 2.5%;
    margin-right: 5%;
    background-color: white;
    border-radius: 20px;
}

.wave{
    position: absolute;
    bottom: 0;
    height: 6.5%;
    width: 100%;
}

/* Inicio Drop down */
details {
    position: relative;
    width: 75%;
    color: #5E3CC7;
    margin-top: 10%;
    font-weight: bold;
    font-family: "Outfit Bold", sans-serif;
    border-radius: 10px;
    cursor: pointer;
}

details[open] {
    z-index: 1;
}

summary {
    padding: 1rem;
    border-radius: 10px;
    background-color: #ffffff;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

summary:after {
    content: '';
    display: inline-block;
    float: right;
    width: .5rem;
    height: .5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 200ms;
}

summary:focus {
    outline: none;
}

details[open] summary:after {
    transform: rotate(-45deg) translate(0%, 0%);
}

/* Ajuste para a lista de recomendações */
.item-show ul#recomendacoes {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.item-show ul#recomendacoes li {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    color: #000; /* Defina a cor do texto para preto */
}

.item-show ul#recomendacoes li:first-child {
    padding-top: 0;
}

.item-show ul#recomendacoes li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/*Fim  Drop down */


.btn{
    width: 75%;
    height: 50px;
    border-radius: 10px;
    margin-top: 15%;
    background-color: transparent;
    border: 2px solid #fff; /* Adiciona borda ao resumo */
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: "Outfit Bold", sans-serif;
    font-size: 20px;
}


.labels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    width: 75%;
    
}

.label2{
    height: 50px;
    border-radius: 10px;
    border: 0px;
    color: #1A1965;
    font-family: "Outfit Bold", sans-serif;
    font-weight: bolder;
    padding-left: 5px;
    margin-top: 10px;


}
.espaco{
    width: 15px;
}
.lname{
    font-family: "Outfit Bold", sans-serif;
    font-weight: bolder;
}

