<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>ReconAI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
</head>




<body>
    <div class="background">
        <header>
            <img class="img" src="/static/assets/header.png" alt="Imagem do perfil">
        </header>
        
        <div class="rectangle">
            <h1>Categorias</h1>
        </div>

        <img class="wave" src="/static/assets/onda.png">

    </div>

</body>

</html>
