<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>ReconAI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
    <div class="background">
        <header>
            <img class="img" src="{{ url_for('static', filename='assets/header.png') }}" alt="Imagem do perfil">
        </header>

        <div class="rectangle">
            <h1>Categorias</h1>

            <details class="custom-select">
                <summary id="dropdownSummary" class="radios" onclick="toggleDropdown('dropdown2')">Cor</summary>
                <ul class="list" id="dropdown2">
                    <li>
                        <label for="azul" onclick="changeColor('Azul')">Azul</label>
                    </li>
                    <li>
                        <label for="amarelo" onclick="changeColor('Amarelo')">Amarelo</label>
                    </li>
                    <li>
                        <label for="vermelho" onclick="changeColor('Vermelho')">Vermelho</label>
                    </li>
                    <li>
                        <label for="branco" onclick="changeColor('Branco')">Branco</label>
                    </li>
                    <li>
                        <label for="preto" onclick="changeColor('Preto')">Preto</label>
                    </li>
                </ul>
            </details>

            <form action="/usuarios" method="POST">
                <div class="labels">
                    <div class="form-group">
                        <label class="lname" for="preco-minimo">Preço Mínimo:</label>
                        <input class="label2" type="number" id="preco-minimo" name="preco-minimo" required>
                    </div>

                    <div class="espaco"></div>

                    <div class="form-group">
                      <label class="lname" for="preco-maximo">Preço Máximo:</label>
                      <input class="label2" type="number" id="preco-maximo" name="preco-maximo" required>
                    </div>
                </div>

                <button class="btn" type="submit">GERAR</button>
            </form>
        </div>
    </div>

    <img class="wave" src="{{ url_for('static', filename='assets/onda.png') }}">

    <script>
        function changeColor(color) {
            document.getElementById('dropdownSummary').textContent = "Cor: " + color;
        }
    </script>

</body>

</html>
