<!DOCTYPE html>
<html>

<head>
    <title>ReconAI</title>
    <meta charset="UTF-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/inicio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/assets/Logo.png" type="image/x-icon">
</head>
<div class="main">

    <body>
        <div class="container_principal">
            <img src="static/assets/Logo.png" alt="Logo ReconAI" class="container__imagem">

            <h1 class="container__titulo">A nova inteligência artificial de recomendação de roupas!</h1>
        </div>
        <section class="container secundario">
            <img src="static/assets/pcreconai.png" alt="Demonstração da pagina de consulta" class="secundario__imagem">
            <div class="container__descricao">
                <h2 class="descricao__titulo">Agilidade na compra</h2>
                <p class="descricao__texto">Nossa inteligencia artificial recomenda as melhores peças com base no seu
                    gosto!</p>
                <a href="recomendacao" class="btn">Teste gratuitamente!</a>
            </div>
        </section>

    </body>

    <section class="dispositivos">
        <h2 class="dispositivos__titulo">Disponível nos seus dispositivos favoritos</h2>
        <ul class="dispositivos__lista">
            <li>
                <img src="static/assets/computador.png" alt="Imagem de um computador">
                <h3 class="lista__item">Computadores</h3>
            </li>
            <li>
                <img src="static/assets/celular.png" alt="Imagem de um celular">
                <h3 class="lista__item">Celulares e tablets</h3>
            </li>
        </ul>
        <footer class="rodape">
            <img src="static/assets/header.png" alt="ReconAi" class="rodape__logo">
            <ul class="rodape__lista">
                <li class="lista__link">
                    <a href="#">Idiomas</a>
                </li>
                <li class="lista__link">
                    <a href="#">Suporte</a>
                </li>

                <li class="lista__link">
                    <a href="#">Ajuda</a>
                </li>
            </ul>
            <p class="rodape__texto">
                Criado por: Breno Gaia, João Custódio e Marcos Valério.
            </p>
            <div class="espaco"></div>
        </footer>
    </section>


</div>

</html>