<!DOCTYPE html>
<html>

    <head>
        <title>ReconAI</title>
        <meta charset="UTF-8">
        <meta name="Viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/inicio.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <div class="main">
    <body>
        <section class="container principal">
            <div class="container__caixa">
            <h1 class="container__titulo">A melhor inteligência artificial de recomendações do mercado!</h1>
            <img src="static/assets/Logo.png" alt="Logo ReconAI" class="container__imagem">
            </div>
        </section>
        <section class="container secundario">
            <img src="static/assets/pcreconai.png" alt="Demonstração da pagina de consulta" class="secundario__imagem">
            <div class="container__descricao">
                <h2 class="descricao__titulo">Agilidade na compra</h2>
                <p class="descricao__texto">Com nossa inteligencia artificial que recomenda as melhores peças com base no seu gosto!</p>
            </div>
        </section>
        <section class="container secundario">
            <div class="container__descricao">
                <p class="descricao__texto">
                    Não necessita de login e você pode acessar o site utilizando um computador ou smarthphone
                </p>
                <a href="www.alura.com.br" class="container__botao secundario__botao">Realizar um teste</a>
            </div>
            <img src="static/assets/Logo.png" alt="Logo ReconAI" class="secundario__imagem">
        </section>
    </body>
    <section class="container secundario">
        <img src="static/assets/computador.png" alt="Imagem de um notebook rodando o Alura+" class="secundario__imagem">
        <div class="container__descricao">
            <h2 class="descricao__titulo">
                Baixe seus cursos
            </h2>
            <p class="descricao__texto">
                Baixe e assista quando e onde quiser. Assim, seus favoritos estão sempre com você, até mesmo sem internet.
            </p>
        </div>
    </section>
    <section class="dispositivos">
        <h2 class="dispositivos__titulo">Disponível nos seus dispositivos favoritos</h2>
        <ul class="dispositivos__lista">
            <li>
                <img src="static/assets/tv.png" alt="Imagem de uma TV">
                <h3 class="lista__item">TV</h3>
            </li>
            <li>
                <img src="static/assets/computador.png" alt="Imagem de um computador">
                <h3 class="lista__item">Computadores</h3>
            </li>
            <li>
                <img src="static/assets/celular.png" alt="Imagem de um celular">
                <h3 class="lista__item">Celulares e tablets</h3>
            </li>
        </ul>
    </section>    
    <footer class="rodape">
        <img src="static/assets/header.png" alt="ReconAi" class="rodape__logo">
        <ul class="rodape__lista">
            <li class="lista__link">
                <a href="#">Idiomas</a>
            </li>
            <li class="lista__link">
                <a href="#">Dispositivos compatíveis</a>
            </li>
            <li class="lista__link">
                <a href="#">Contrato de assinatura</a>                
            </li>
            <li class="lista__link">
                <a href="#">Politica de privacidade</a>
            </li>
            <li class="lista__link">
                <a href="#">Proteção de dados no Brasil</a>
            </li>
            <li class="lista__link">
                <a href="#">Anuncios personalizados</a>
            </li>
            <li class="lista__link">
                <a href="#">Ajuda</a>
            </li>
        </ul>
        <p class="rodape__texto">
            Created By: Breno Gaia, João Custódio e Marcos Antonio.
        </p>
    </footer>
</div>
</html>