<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>ReconAI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>
    <div class="background">

        <div class="rectangle">
            <img class="img" src="/static/assets/Logo.png" alt="Imagem do perfil">

            <form action="/entrar" class='inputdiv'method="post">
                
                <input placeholder="E-mail" type="email" class="input" name="email" required>
                <input placeholder="Senha" type="password" class="input" name="password" required>

                <button class="btn" type="submit">ENTRAR</button>
            </form>

            <h1 class='texto-cadastro'>Ainda não possui cadastro? Cadastre-se aqui!</h1>

        </div>


    </div>


</body>

</html>
