<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Perfil do usuário</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/usuarios.css">

</head>

<body>
    <div class="background">
        <header class="header">
            <img class="img" src="/static/assets/header.png" alt="Imagem do perfil">
        </header>

        <div class="conteudo">

            <form class="rectangle" id="formulario" method="post" onsubmit="gerarRecomendacoes(); return false;">
                    <h1>Categorias</h1>

                    <details class="custom-select">
                        <summary id="dropdownSummary" class="radios" onclick="toggleDropdown('dropdown2')">Cor</summary>
                        <ul class="list" id="dropdown2">
                            <li>
                                <label for="navy" onclick="changeColor('navy')">navy</label>
                            </li>
                            <li>
                                <label for="yellow" onclick="changeColor('yellow')">yellow</label>
                            </li>
                            <li>
                                <label for="vermelho" onclick="changeColor('Vermelho')">Vermelho</label>
                            </li>
                            <li>
                                <label for="branco" onclick="changeColor('Branco')">Branco</label>
                            </li>
                            <li>
                                <label for="preto" onclick="changeColor('Preto')">Preto</label>
                            </li>
                        </ul>
                    </details>

                    <div class="labels">
                        <div class="form-group">
                            <label class="lname" for="preco-minimo">Preço Mínimo:</label>
                            <input class="label2" type="number" id="preco-minimo" name="preco-minimo" required>
                        </div>

                        <div class="espaco"></div>

                        <div class="form-group">
                            <label class="lname" for="preco-maximo">Preço Máximo:</label>
                            <input class="label2" type="number" id="preco-maximo" name="preco-maximo" required>
                        </div>

                    </div>

                    <button class="btn" type="submit">GERAR NOVAMENTE</button>
                    <input type="hidden" id="selectedColor" name="color">

            </form>

            <div class="item-show" id="recommendations-container"> 
                <ul2 id="recomendacoes">
                    {% for product in recommendations %}
                    <li2>
                        <span class="title">Cor do produto:</span> {{ product.Cor_do_Produto }}, 
                        <span class="title">Título:</span> {{ product.Título }},
                        <span class="title">Classificação:</span> {{ product.Classificação }},
                        <span class="title">Preço:</span> {{product.Preço}}</li2>
                    {% endfor %}
                </ul2>
            </div>
            


        </div>

    </div>


    <img class="wave" src="/static/assets/onda.png">


    <script>
        function toggleDropdown(id) {
    var dropdown = document.getElementById(id);
    dropdown.classList.toggle("show");
}


function changeColor(color) {
    document.getElementById('dropdownSummary').textContent = "Cor: " + color;
    document.getElementById('selectedColor').value = color; // Adiciona esta linha
}

        function gerarRecomendacoes() {
            var formulario = document.getElementById("formulario");
            var formData = new FormData(formulario);
    
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/usuarios', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var recommendations = JSON.parse(xhr.responseText);
                    renderizarRecomendacoes(recommendations);
                }
            };
    
            xhr.send(formData);
        }
    
        function renderizarRecomendacoes(recommendations) {
            var recommendationsList = document.getElementById('recomendacoes');
            recommendationsList.innerHTML = '';
            recommendations.forEach(function (recommendation) {
                var li2 = document.createElement('li2');
                li2.textContent = 'Cor do produto: ' + recommendation.Cor_do_Produto + ', Título: ' + recommendation.Título + ', Classificação: ' + recommendation.Classificação + ', Preço: ' + recommendation.Preço;
                recommendationsList.appendChild(li2);
            });
        }
    </script>
    
</body>

</html>